.post-count,.page-count,.comment-count {
	display: none;
}

.gt-statuses {
	margin-left: 2.5em;
}

.gt-status {
	display: inline-block;
	font-size: 10px;
	margin-right: .75em;
	opacity: .42;
}
	.gt-status:hover {
		opacity: 1;
	}
.gt-status.gt-moderate {
	opacity: 1;
}
#dashboard_right_now .gt-status.gt-moderate a {
	font-weight: bold;
}
#dashboard_right_now .gt-status.gt-moderate a:before {
	color: #888;
}
.comment-mod-count {
	display: none;
}

#dashboard_right_now div.gt-status a:before {
	font-size: 16px;
	margin: 1px 0 0;
	padding-right: .25em;
}

#dashboard_right_now div.gt-status a.gt-future:before {
	content: '\f145';
}
#dashboard_right_now div.gt-status a.gt-pending:before {
	content: '\f227';
}
#dashboard_right_now div.gt-status a.gt-draft:before {
	content: '\f339';
}
#dashboard_right_now div.gt-status a.gt-private:before {
	content: '\f160';
}
#dashboard_right_now div.gt-status a.gt-trash:before {
	content: '\f182';
}
#dashboard_right_now div.gt-status a.gt-spam:before {
	content: '\f334';
}
#dashboard_right_now div.gt-status a.gt-unattached:before {
	content: '\f225';
}
#dashboard_right_now div.gt-status a.gt-active:before {
	content: '\f147';
}
#dashboard_right_now div.gt-status a.gt-inactive:before {
	content: '\f460';
}
#dashboard_right_now div.gt-status a.gt-update:before {
	content: '\f463';
}

#dashboard-widgets-wrap {
	overflow: visible;
}

#gt-form input[type="submit"] {
	display: none;
}
.element-holder {
	border-left: 4px dotted #ececec;
	margin-right: -4px;
}
.gt-item.gt-editable:hover {
	cursor: move;
}